html, body, .modal {
  min-width: 320px;        /* Suppose you want minimum width of 1000px */
  width: auto !important;  /* Firefox will set width as auto */
  width: 320px;
  //overflow-x: scroll;
}

// Navbar ======================================================================
.navbar {
  position: relative;
  box-shadow: 0 8px 12px -6px rgba(0, 0, 0, 0.6);
  z-index: 2;
}

// Forms ======================================================================
.control-label-inline {
  padding-top: 7px;
  color: #fff !important;
}

// Grid ======================================================================
.col-center {
  margin: 0 auto;
  float: none;
}

// Modals ======================================================================
.uploadImage {

  &__dropzone {
    position: relative;
    padding: 70px 25px;
    margin-bottom: 15px;
    border: 2px #fff dashed;

    p {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 100%;
      padding: 13px;
      margin: 0;
      transform: translate(-50%, -50%);
      text-align: center;
      font-size: 15px;
    }
  }
  &__previewImage {
    height: 80px;
    border-radius: 10px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__delete {
    font-size: 16px;
    cursor: pointer;
  }
  table {
    width: 100%;

    tr:first-child {
      td:nth-child(1) {
        width: 15%;
      }
      td:nth-child(2) {
        width: 65%;
        font-size: 16px;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      td:nth-child(3) {
        width: 20%;
      }
    }
    td + td {
      padding-left: $grid-gutter-width / 2;
    }
  }
  .progress {
    margin: 0 0 0 ($grid-gutter-width / 2);
  }
}

// Wall ======================================================================
.wall {
  position: absolute;
  top: 52px;
  left: 0;
  width: 100%;
  overflow: hidden;
  z-index: 1;

  &__brick {

    div {
      display: inline-block;
      height: 100%;
      border: 1px solid #222;
      background: rgba(0,0,0,0.7);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      cursor: pointer;

      &:hover {
        border-color: #ddd;
      }
    }

    &--large {
      height: 240px;

      div {
        width: 100%;
      }
    }
    &--large-tight {
      height: 160px;

      div {
        width: 100%;
      }
    }
    &--large-verytight {
      height: 80px;

      div {
        width: 100%;
      }
    }
    &--medium {
      height: 160px;

      div {
        width: 50%;
      }
    }
    &--medium-tight {
      height: 80px;

      div {
        width: 50%;
      }
    }
    &--small {
      height: 80px;

      div {
        width: 33.33%;
      }
    }
  }
}
